body {
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #49efa7eb;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}
header h1 {
    margin: 0;
    display: inline;
    
}
header select {
    padding: 10px;
    border: none;
    background-color: #f4eedb;
    color: #007BFF;
    border-radius: 8px;
    margin-right: 15px;
    display: inline;
}
header select {
    display: flex;
    align-items: center;
    display: inline;
}
header form input[type="text"] {
    padding: 5px;
    border: none;
    background-color: #fff;
    color: #007BFF;
    border-radius: 5px;
    margin-right: 10px;
   
}
header form button {
    padding: 5px 10px;
    background-color: #fff;
    color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.fot {
    
    height: 500px;
    width: 800px;
    border: 5px solid darkorange;
    margin: 5px 80px 5px 250px;
    line-height: 5em;
    border-radius: 10px;
    transform: transform(100px 100px);

}
.footer-button {
   text-align: center;
   border-radius: 5px;
}
.footer-input {
    margin-left: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 4px;
}
p{
    margin: 30px 100px 30px;
}
#feedback {
    height: 200px;
    width: 600px;
    margin: 30px 30px 5px;
    background-color: mistyrose;
}
   #id {
    height: 50px;
    width: 40px;
    border: 1px solid black;
   }
   #info {
    height: 30px;
    width: 150px;
    background-color: antiquewhite;
    border: 2px solid antiquewhite;
    display: inline;
   }
   .section-logo center {
    display: inline;
   }
   #sol {
    margin-left: 90px;
    height: 10px;

    
   }
   #copyright {
    margin-left: 60px;
   }
   #body {
    background-color: bisque;
   }

   .respons {
    color: color-mix(black);
   }